body {
    margin: 0;
}

main {

    width: 575px;
    height: 415px;
    background: #1B244A;
    margin: 20px auto;
    border: 3px solid #eee;



}

.container {
    width: 410px;
    margin: auto;

}

.text {
    display: flex;
    justify-content: space-between;
    // border: 2px solid red;
    width: 100%;
    // margin: auto;
}

h3 {

    width: 149px;
    height: 36px;

    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;

    /* identical to box height, or 90% */
    text-align: center;

    color: #EEEEEE;
    margin: 70px 0 20px 0;

}

.score-screen {
    display: flex;
    justify-content: space-between;
    margin: 0;

}


.add-container {

    display: flex;
    justify-content: space-between;
    // border: 2px solid red;
    margin: 26px 0 0 0;

}

.scoreboard {

    width: 155px;
    height: 120px;
    background-color: #080001;
    // border: 2px solid red;
    border-radius: 5px;

}

.add-points-btn {
    display: flex;
    justify-content: space-between;
    width: 155px;
    // border: 2px solid red;

    margin-top: 10px;
    background-color: Transparent;

}

.reset {
    width: 155px;
    height: 45px;
    margin: 20px auto;
    display: block;
    border-radius: 5px;





}

button {
    color: #EEEEEE;
    background-color: Transparent;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    opacity: 0.8;

}

.scoreboard {
    // color: #EEE;

    width: 117px;
    height: 120px;


    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    /* or 141% */
    text-align: center;

    color: #F94F6D;
}